@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

a:link{
    color:black;
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover{
    text-decoration:underline;
}

.item a:visited{
    color: white;
}
.item a{
    color: white;
}

h1, h2{
    padding: 0;
    margin-left:5vh;
}

.box h1{
    padding-top:3vh;
}

p{
    padding-top: 20px;
    font-size: 1.2em;
    text-align: left;
    margin-left: 5vh;
    margin-right: 5vh;
}

.header{
    height: 50px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.header .logo{
    height:90%;
    margin-right:10px;
}
.header .logo:hover{
    cursor: pointer;
}

.header .title{
    color:white;
    margin-right: 10px;
    width: fit-content;
}

/*-----------HOME------------*/

body{
    background-color:white;
    font-family:"roboto mono", sans-serif;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;  
}

.container, .menu{
    height: 30vh;
    width: 30vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    font-size:1.3em;
}

.menu{
    z-index: -1;
    transform: scale(0.9);
}

.toggle{
    height: 30vh;
    width: 30vh;
    background-color:black;
    background-image: url("images/oblo_home_logo.png");
    background-position: center;
    background-size: 75%;
    background-repeat:no-repeat;
}
.toggle:hover{
    transform: scale(1.01)
}


.toggle .text{
    position: relative;
    text-align: center;
}

.item{
    width: 30vh;
    height: 30vh;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position:absolute;
}

/* sezione 02 ---> Gallery */

.galleryBox{
    width: 100vh;
    margin:auto;
    margin-top: 20px;
    margin-bottom:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap:2vw;
    row-gap: 2vw;
}

.image{
    height: 30vh;
    width: 30vh;
    background-color: black;
    transition: 0.5s;
    display:flex;
    align-items: center;
    justify-content: center;
}

.galleryPic{
    width: 90%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


#pic01{
    background-image : url("images/oblo_gallery_01.JPG")
}
#pic02{
    background-image : url("images/oblo_gallery_02.JPG")
}
#pic03{
    background-image : url("images/oblo_gallery_03.JPG")
}
#pic04{
    background-image : url("images/oblo_gallery_04.JPG")
}
#pic05{
    background-image : url("images/oblo_gallery_05.JPG")
}
#pic06{
    background-image : url("images/oblo_gallery_06.JPG")
}
#pic07{
    background-image : url("images/oblo_gallery_07.JPG")
}
#pic08{
    background-image : url("images/oblo_gallery_08.JPG")
}
#pic09{
    background-image : url("images/oblo_gallery_09.JPG")
}
#pic10{
    background-image : url("images/oblo_gallery_10.JPG")
}
#pic11{
    background-image : url("images/oblo_gallery_11.JPG")
}
#pic12{
    background-image : url("images/oblo_gallery_12.JPG")
}
#pic13{
    background-image : url("images/oblo_gallery_13.JPG")
}
#pic14{
    background-image : url("images/oblo_gallery_14.JPG")
}
#pic15{
    background-image : url("images/oblo_gallery_15.JPG")
}
#pic16{
    background-image : url("images/oblo_gallery_16.JPG")
}
#pic17{
    background-image : url("images/oblo_gallery_17.JPG")
}
#pic18{
    background-image : url("images/oblo_gallery_18.JPG")
}
#pic19{
    background-image : url("images/oblo_gallery_19.JPG")
}
#pic20{
    background-image : url("images/oblo_gallery_20.JPG")
}
#pic21{
    background-image : url("images/oblo_gallery_21.JPG")
}
#pic22{
    background-image : url("images/oblo_gallery_22.JPG")
}
#pic23{
    background-image : url("images/oblo_gallery_23.JPG")
}
#pic24{
    background-image : url("images/oblo_gallery_24.JPG")
}
/* sezione 03 ---> Menu */

.menuContainer .picturebox02 .picture{
    height: fit-content;
}
.menuContainer .picture{
border-right: solid;
border-width: 2px;
}

/* sezione 04 ---> DesignPhases */

.dpContainer, .abContainer, .menuContainer, .evContainer{
    width: 100vh;
    margin-top: 0;
    margin-left: auto;
    margin-right:auto;
}
.evContainer h2{
    margin-top: 100px;
    border-bottom: solid 2px;
}

.evContainer h1{
    margin-top: 100px;
}
#box02, #box04{
    background-color:black;
    color: white;
}
#box03, #box05{
    background-color:white;
    color: black;
}

.picturebox02, .picturebox03{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.picturebox03 .picture {
    width: 30vh;
    height: 30vh;
}

.picturebox02 .picture{
    width:50vh;
    height: 50vh;
}

/*.picturebox .picture:hover {
    transform: scale(1.5);
    transition: 0.5s;
}*/

.picture{
    width: 100vh;
    height:100vh;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

#Proposal01 {
    background-image : url("images/oblo_designphases_01.png")
}
#Proposal02 {
    background-image : url("images/oblo_designphases_02.png")
}
#Proposal03 {
    background-image : url("images/oblo_designphases_03.png")
}
#Proposal04 {
    background-image : url("images/oblo_designphases_04.png")
}
#Proposal05 {
    background-image : url("images/oblo_designphases_05.png")
}

#Realization01{
    background-image : url("images/oblo_designphases_09.png")
}
#Realization02{
    background-image : url("images/oblo_designphases_07.png")
}
#Realization03{
    background-image : url("images/oblo_designphases_08.png")
}
#Logo01{
    background-image : url("images/oblo_designphases_06.png")
}
#Logo02{
    background-image : url("images/oblo_designphases_10.png")
}
#Logo03{
    background-image : url("images/oblo_designphases_11.png")
}
#Logo04{
    background-image : url("images/oblo_designphases_12.png")
}
#Logo05{
    background-image : url("images/oblo_designphases_13.png")
}
#Logo06{
    background-image : url("images/oblo_designphases_14.png")
}
#Logo07{
    background-image : url("images/oblo_designphases_15.png")
}


#About01{
    background-image : url("images/oblo_home_logo.png")
}
#About02{
    background-image : url("images/oblo_about_02.jpeg")
}
#About03{
    background-image : url("images/oblo_about_03.jpeg")
}
#About04{
    background-image : url("images/oblo_about_04.jpg")
}
#About05{
    background-image : url("images/oblo_about_05.png")
}
#About06{
    background-image : url("images/oblo_about_06.png")
}

.footer{
    height: 50px;
    background-color:white;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h3{
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 10px;
    text-align:center;
}

/*---sezione eventi---*/

.eventBox{
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 100vh;
    background-image: url("images/oblo_eventis_01.jpeg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}



